body {
  background-repeat: no-repeat center fixed cover;
}

h3 {
  font-size: 35px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
}

h6 {
  font-size: 12px;
  font-family: 'News Cycle', sans-serif;
  color: #fff;
  text-align: center;
}

h5 {
  font-size: 30px;
  font-family: 'News Cycle', sans-serif;
  color: #fff;
  text-align: center;
}

legend {
  font-family: 'News Cycle', sans-serif;
  color: #fff;
  text-align: center;
}

form {
  font-size: 18px;
  font-family: 'News Cycle', sans-serif;
  color: #000;
  text-align: center;
}

#clock {
  font-size: 25px;
  font-weight: bold;
  font-family: 'News Cycle', sans-serif;
  color: #ff0080;
  text-align: center;
  padding: 25px;
}

#quote {
  font-size: 25px;
  font-family: 'News Cycle', sans-serif;
  color: white;
  text-align: center;
  padding: 25px;
}
